@import "tailwindcss";

.moving-border {
  position: relative;
  z-index: 0;
  background: #fefce8; 
  border-radius: 9999px;
}

.moving-border::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 9999px;
  padding: 2px;
  background: linear-gradient(270deg, #12dc0f, #5eff00, #b10000, #ffd500);
  background-size: 400% 400%;
  animation: borderMove 2s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@keyframes borderMove {
  0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }

 